@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h1>Calc Service Demonstration</h1>
        <ul>
            <li><a asp-controller="Home" asp-action="ManualParsingInSingle">Manual parsing in single action</a></li>
            <li><a asp-controller="Home" asp-action="ManualParsingInSeparate">Manual parsing in separate actions</a></li>
            <li><a asp-controller="Home" asp-action="ModelBindingInParams">Model binding (parameters)</a></li>
            <li><a asp-controller="Home" asp-action="ModelBindingInSeparateModel">Model binding (separate model)</a></li>
        </ul>
    </div>
</div>
